@charset "UTF-8";
.str6 {stroke:#B1B9B3;stroke-width:11.7359}
.str5 {stroke:#B1B9B3;stroke-width:11.7392}
.str7 {stroke:#D3D3D4;stroke-width:6.70813}
.str4 {stroke:#D4D9D6;stroke-width:5.03109}
.str3 {stroke:#99A99C;stroke-width:5.03109}
.str2 {stroke:#99A99C;stroke-width:5.03109;stroke-linejoin:round}
.str1 {stroke:#DCDDDD;stroke-width:3.35406;stroke-linejoin:round}
.str0 {stroke:#DCDDDD;stroke-width:3.35406;stroke-linecap:round;stroke-linejoin:round}
.fil14 {fill:none}
.fil0 {fill:#F2F2F2}
.fil1 {fill:#DCDDDD}
.fil15 {fill:#CBD4CD}
.fil16 {fill:#FEFEFE;fill-opacity:0.749020}
.fil7 {fill:#5B9606}
.fil6 {fill:#736B5E}
.fil13 {fill:#809E80}
.fil10 {fill:#88BA88}
.fil2 {fill:#9992A3}
.fil4 {fill:#9CCE39}
.fil8 {fill:#A57D37}
.fil12 {fill:#ABBD88}
.fil5 {fill:#ACC99E}
.fil11 {fill:#BFB56B}
.fil3 {fill:#E8E2A0}
.fil9 {fill:#EBC075}
